include ./sections

#about.section
  - var content = sectionContent.about
  - var figure = content.figure
  - var figureDefault = figure.default
  - var figureDefaultId = 'about-figure-' + figure.default
  - var diagram = content.diagram

  #about-figure-container
    img(
      id=figureDefaultId
      src=figure[figureDefault]
      alt=figureDefault).about-figure.is-faded-in
    
    each area in figure.areas
      - var areaId = area.id
      - var id = 'about-figure-' + areaId
      img(src=figure[areaId] alt=areaId id=id).about-figure

  #about-words  
    each paragraph in content.blurb
      p.about-blurb!= paragraph
      
    p.about-blurb
      = diagram.blurb + ' '
      a(href=diagram.image target='_blank')#about-diagram-link= diagram.text

  
