include sections

doctype html
html(lang='en')
  head
    meta(name='description' content='an illustrated guide to Ranjani Chakraborty')
    meta(name='author' content='Ranjani Chakraborty')
    meta(charset='utf-8')
    link(href='bundle.css' rel='stylesheet')
    title ranj chak dot com
    
  body
    #title-and-hero-container
      h1#title
        img(src=title.image alt=title.text)#title-image

      #hero
        img(src=hero.default.image alt=hero.default.text).hero-image
        img(src=heroSub.image alt=heroSub.text).hero-image
    
    nav#nav
      each sect in sections
        a(href='#' + sect.id).nav-link
          img(
            src=sect.nav.icon
            data-hover-src=sect.nav.hover
            alt=sect.title.text + ' ' + sect.sub.text).nav-link-icon
          img(src=sect.nav.image alt=sect.nav.text).nav-link-title
      
    .sections
      each sect in sections
        +section(sect)
    
    section#footer
    
    script(src='bundle.js')
