include sections

doctype html
html(lang='en')
  head
    meta(name='description' content='an illustrated guide to Ranjani Chakraborty')
    meta(name='author' content='Ranjani Chakraborty')
    meta(charset='utf-8')
    link(href='bundle.css' rel='stylesheet')
    title ranj chak dot com
    
  body
    #title-and-hero-container
      h1#title
        img(src=titleBanner alt=title)#title-banner
        img(src=heroTitle alt=hero).hero-image
      
      #hero
        img(src=heroBanner.default.image alt=heroBanner.default.name).hero-image
    
    nav#nav
      each sect in sections
        a.nav-link
          img.nav-link-image(
            src=sect.nav
            data-hover-src=sect.navHover
            alt=sect.title + sect.sub)
      
    .sections
      each sect in sections
        +section(sect)
    
    section#footer
    
    script(src='bundle.js')
