doctype html
html(lang='en')
  head
    meta(name='description' content='an illustrated guide to Ranjani Chakraborty')
    meta(name='author' content='Ranjani Chakraborty')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(href='bundle.css' rel='stylesheet')
    title Ranjani Chakraborty's Portfolio
    
  body
    h1#title-container.container
      #title
        img(src=title.image alt=title.text).title-image
      #subtitle
        img(src=subtitle.image alt=subtitle.text).title-image

    #reel-container.container
      - var vimeoParams = '?badge=0&byline=0&portrait=0&title=0'
      
      #reel-embed-wrapper
        iframe#reel(
          src='//player.vimeo.com/video/' + reel.vimeo + vimeoParams
          frameborder="0"
          badge='0' byline='0' portrait='0' title='0'
          webkitallowfullscreen mozallowfullscreen allowfullscreen)


    include ./nav
    
    .sections          
      include ./film
      include ./writing
      include ./about
      
    footer#footer
      p#copyright.footer-text Copyright © 2016 by Ranjani Chakraborty
      p#built-by.footer-text
        a(href='http://cousins.io' target='_blank') Built by Mike Cousins
    
    script(src='bundle.js')
