mixin navLink(id, nav)
  - var href = '#' + id
  - var icon = 'url(' +  nav.icon + ')'
  - var hover = 'url(' +  nav.hover + ')'
  - var style = 'background-image: ' + icon + ', ' + hover
  
  a(href=href title=nav.title).nav-link
    div(style=style).nav-link-icon
    img(src=nav.image alt=nav.text).nav-link-title

mixin socialLink(name, icon, href)
  - var target = (/^mailto/.test(link)) ? '' : '_blank'
  - var style = 'background-image: url(' + icon + ')'
  
  a(href=href target=target title=name).social-link
    div(style=style).social-link-icon

#nav-container.container
  nav#nav
    #page-links.nav-links
      +navLink('film', film.nav)
      +navLink('writing', writing.nav)
      +navLink('art', art.nav)
      +navLink('about', about.nav)
    
    #social-links.nav-links
      each social in socials
        +socialLink(social.name, social.icon, social.link)
