mixin section(params)
  - var id = params.id
  - var title = params.title
  - var sectionContent = content[id]
  
  section(id=id)
    h2= title

    case id
      when 'film'
        ul.video-list
          each video in sectionContent.videos
            li(data-vimeo-id=video.vimeo)
              img(src=video.thumbnail)
        
      when 'writing'
        ul.article-list
          each article in sectionContent.articles
            li.article-list-item
              a(href=article.link)
                h3= article.name
                p= article.blurb
      
      when 'about'
        p this is the about me section
        
