//- section mixins

mixin sectionBanner(image, text)
  h2.section-banner
    img(src=image alt=text).section-banner-image
  
mixin sectionStoryList(banner, stories)
  ul.section-story-list
    li.story-list-item
      +sectionBanner(banner.image, banner.text)
    
    each story in stories
      - var background = 'url(' + story.thumbnail + ')'
      li(style='background-image: ' + background).story-list-item
        a(href=story.link target='_blank').story-link
          h3.story-title.story-text= story.name
          if story.blurb
            p.story-blurb.story-text= story.blurb
